<h1 class="text-center">註冊</h1>
{{> message}}
<form action="/users/register" method="POST">
  <div class="row justify-content-center align-items-center">
    <div class="col-4 mb-3">
      <label for="name" class="form-label">姓名</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="請輸入您的名字" value="{{ name }}">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-4 mb-3">
      <label for="email" class="form-label">信箱</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="請輸入您的email" value="{{ email }}">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-4 mb-3">
      <label for="password" class="form-label">密碼</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="請輸入您的密碼" value="{{ password }}">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-4 mb-3">
      <label for="confirmPassword" class="form-label">確認密碼</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="請再次輸入您的密碼" value="{{ confirmPassword }}">
    </div>
  </div>
  <div class="row justify-content-center align-items-center pt-3">
    <button type="submit" class="col-4 btn btn-dark">註冊</button>
  </div>
  <div class="row justify-content-center align-items-center pt-3">
    <a class="col-4 btn btn-outline-secondary" href="/users/login" role="button">登入頁</a>
  </div>
</form>